/**
  Animation Settings
  ---------------------------------------------------------------------- */
.animate-parallax {
  .module-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
}

.animate-on-enter,
.animate-on-leave {
  opacity: 0;
  top: 4rem;

  @include transition(all 600ms ease-in-out);

  &.is-visible {
    opacity: 1;
    top: 0;
  }
}

/**
  Parallax Animation
  ---------------------------------------------------------------------- */
.animate-z-subtle .module-bg {
  height: calc(100% + 6em);
}

.animate-z-normal .module-bg {
  height: calc(100% + 12em);
}

.animate-z-extreme .module-bg {
  height: calc(100% + 18em);
}
