.module-hero {
  @include grid(center, center);
  overflow: hidden;
  position: relative;
  padding: 2em 2em 3em 2em;
  background-color: $black;
  min-height: 25vh;

  .module-bg {
    z-index: 0;
    opacity: 0.5;
  }
}

.module-hero-overlay {
  .module-bg {
    opacity: 1;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparentize($blue, 0.1) 0%, transparentize($blue, 0.06) 33%, $blue 100%);
  }
}

.hero-slides,
.slick-list,
.slick-track {
  height: 100%;
}

.hero-slide {
  position: absolute;
  height: 100%;
  width: 100vw !important;
  background-size: cover;
  background-position: center center;
  background-color: $blue;
}

.hero-content {
  @include grid(center, center, column);
  position: relative;
  z-index: 2;
  color: $white;
  font-weight: $font-light;
  font-size: 1.5em;

  br {
    all: unset;
    display: content;
    content: '.';
    white-space: pre;

    &::before {
      display: inline-block;
      content: '.';
      visibility: hidden;
      width: 3em;
    }
  }

  & *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.hero-logo {
  @include grid(center, center, column, wrap, center);
  margin: 0 auto 2em auto;
  width: 30vw;
  padding: 4em;
  height: 30vw;
  background-color: $white;
  border-radius: 50%;

  img {
    display: block;
    transform: translateY(-1vw);
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1200px) {
  .hero-logo {
    width: 50vw;
    height: 50vw;
  }
}

@media (max-width: 1024px) {
  .hero-logo img {
    max-width: 85%;
  }
}

@media (max-width: 768px) {
  .hero-content {
    font-size: 1em;

    br {
      display: block;
    }
  }
}

@media (max-width: 660px) {
  .hero-logo {
    padding: 3em;
    width: 75vw;
    height: 75vw;

    img {
      max-width: 75%;
    }
  }
}
