.module-two_column {
  @include grid();
  max-width: 1024px;
  margin: 0 auto;
  padding: 4em 0;
  text-align: justify;

  .column-left,
  .column-right {
    width: 50%;
  }

  .column-left {
    padding-right: 4em;
  }

  .column-right {
    padding-left: 4em;
    border-left: 1px solid $grey;
  }
}

@media (max-width: 768px) {
  .module-two_column {
    display: block;
    padding: 2em 0;

    .column-left,
    .column-right {
      width: 100%;
      padding: 0;
      border: none;
    }

    .column-left {
      padding-bottom: 2em;
    }
  }
}
